* {
    padding: 0;
    margin: 0;
}

body {
    color: #666;
}

a {
    text-decoration: none;
    color: #777;
}

ul>li {
    list-style: none;
}

.border_bottom_1 {
    border-bottom: 1px solid #ddd;
}

.padding_bottom_10 {
    padding-bottom: 10px;
}

.padding_5 {
    padding: 5px;
}

.border_0 {
    border: 0 !important;
}

.padding_bottom {
    padding-bottom: 15px;
}

.border_1 {
    border: 1px solid #eee !important;
}

.padding_top_0 {
    padding-top: 0 !important;
}

.padding_30 {
    padding: 30px;
}

.padding_1 {
    padding: 0.8rem;
}

.padding_20 {
    padding: 20px;
}

.padding_left_15 {
    padding-left: 15px;
}

.padding_bottom_15 {
    padding-bottom: 15px;
}

.padding_bottom_0 {
    padding-bottom: 0 !important;
}



.padding_10 {
    padding: 10px;
}

.width_100 {
    width: 100px;
}

.margin_right_20 {
    margin-right: 20px;
}

.margin_20 {
    margin: 20px;
}

.margin_0 {
    margin: 0 !important;
}

.margin_left_20 {
    margin-left: 20px;
}

.margin_left_15 {
    margin-left: 15px;
}

.margin_bottom_5 {
    margin-bottom: 5px;
}

.margin_left_5 {
    margin-left: 5px;
}

.margin_top_20 {
    margin-top: 20px;
}

.display_flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.text_align_center {
    text-align: center;
}

.float_left {
    float: left;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #aaa;
    font-size: 13px;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaa;
    font-size: 13px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #aaa;
    font-size: 13px;
}

.class_color_font {
    color: #777;
    font-size: 14px;
}

.T_K_shang_sou {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 50px 10px 10px;
}

.class_header {
    padding: 20px;
    border: 4px solid #eee;
    margin: 3px;
}

.class_color_red {
    color: rgb(255, 65, 65);
}

.class_color_lan {
    color: rgb(3, 43, 129);
}

.class_color_success {
    color: #09c786;
}

.class_title {
    color: #777;
    font-weight: normal;
    font-size: 16px;
}

.class_font_14 {
    font: 14px "微软雅黑";
}

.padding_top_bottom_5 {
    padding: 5px 0;
}

.padding_top_bottom_0 {
    padding-top: 0;
    padding-bottom: 0;
}

.class_input {
    outline: 0;
    border: 1px solid #ddd;
    height: 28px;
    width: 200px;
    padding-left: 15px;
    border-radius: 3px;
    color: #666
}

.class_input:checked {
    border: 1px solid #09c786;
}

.class_button {
    outline: 0;
    padding: 4px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #09c786;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.class_button_d {
    outline: 0;
    padding: 5px 20px;
    border: 1px solid #ddd;
    border-radius: 1px;
    background-color: #fff;
    color: #777;
    margin-left: 10px;
    cursor: pointer;
}

.dengder {
    background-color: rgb(236, 63, 63);
    border: 0;
}

.active_buttton {
    position: absolute;
    left: 35px;
    top: -7px;
    background-color: #fafafa;
    color: #0c72f7;
    border: 1px solid #aaa;
    border-bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.class_addTk {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.T_K_xia {
    padding: 30px;
    border-radius: 5px
}

.Width {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

.Width>thead>tr>td {
    border: 1px solid #e7eaec;
    border-bottom: 0;
    color: #fff;
    background-color: #105ae2;
    font-size: 14px;
    padding: 4px 0;
}

.Width>tbody>tr>td {
    border: 1px solid #e7eaec;
    padding: 8px 0;
    font-size: 14px;
    color: #777;
}

tbody>tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

#table>.Width>tbody>tr>td+td {
    border-left: 0;
}

.w-40 {
    width: 40%;
}

.pHover:hover {
    color: #09c786;
}

.active {
    color: #09c786;
}

.DA {
    margin-top: 20px;
    background-color: #f3f3f4;
    width: 500px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    border-radius: 10px;
    padding: 0 30px;
}

.class_border {
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 1px #aaa;
    background-color: #fafafa;
}

/* slelet下拉框样式 */
.select_T {
    width: 100px;
    padding: 0;
    position: relative;
    font-size: 16px;
    border-radius: 5px;
}

.select_T p {
    width: 100px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #eee;
    background: #fff url(../img/Item_cd-icons.png) no-repeat right 4px top 6px;
    color: #777;
    cursor: pointer;
    font: 14px '微软雅黑';
    border-radius: 5px;
    padding-top: 4px;
}

.select_T ul {
    width: 100px;
    background: #fff;
    margin-top: 2px;
    border: 1px solid #eee;
    position: absolute;
    display: none;
}

.select_T ul li {
    height: 22px;
    line-height: 22px;
    /* text-indent: 10px; */
    padding: 0;
    padding: 3px;
    font-size: 14px;
    text-align: center;
}

.select_T ul li a {
    display: block;
    color: #807a62;
    text-decoration: none;
}

.select_T ul li a:hover {
    background: #105ae2;
    color: #fff;
}

.display_arond {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.display_center {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0;
}

/* 选择器样式 */
.fengshuqi {
    width: 150px;
    height: 25px;
    border: 1px solid #ddd;
    line-height: 25px;
    display: flex;
    border-radius: 4px;
}

.fengshuqi>span {
    display: block;
    width: 50px;
    text-align: center;
}

.fengshuqi>span:first-child,
.fengshuqi>span:last-child {
    color: #000;
    cursor: pointer;
}

.fengshuqi>span:first-child:hover,
.fengshuqi>span:last-child:hover {
    background-color: #e8e8e8;
    color: #000;
    cursor: pointer;
}

.fengshuqi>span+span {
    border-left: 1px solid #eee;
}